body{
    background-color: white ;
  
}


/* 
Pour supprimer le logo
*/

#zwgth.haslogo .logo {
    display: none;
}

/* 
Pour supprimer le titre h1 "VOTRE RESTAURANT"
*/
#zwgth.haslogo h1 {
    visibility: hidden;
}

/*
Modification de la couleur du texte des liens et des boutons "prix" sur la carte
*/

a,
.items_list li .price {
    color: #253451;
}

/*
Modification de la couleur du texte du nom des produits
on passe la police en noir au lieu de #fb9f94
on passe la taille à 16px
*/

.items_list li a,
.items_list li .name {
    color: black;
    font-size: 1.4em;
}

.items_list li .description {
    color: black;
    font-size: 12px;
}

/*
  Modification de la couleur du texte des titres principaux
  */

#zwgth h1,
#address_conf h2,
#cart h5,
.mheader h3,
.restaurant_selection #resto h2 {
    color: #253551;
    font-family:Oswald;
}

/* 
  Modification taille des titres principaux pour tester
  taille initiale en 36px
  Je le passe en 40px pour tester
  */
#zwgth h1 {
    font-size: 40px;
}

/*
  Modification de la couleur de fond des boutons
  et de la taille de police également
  d'origine elle est en 14px, je la passe en 16px
  */

.btn-primary,
.btn-primary.disabled,
.btn-primary[disabled],
.btn-primary[disabled]:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active {
    background-color: #253451;
    border-color: #253451;
    font-size: 16px;
}

/*
  Modification de la couleur de fond des boutons (au survol et actifs)
  */

.btn-primary:active,
.btn-primary:active:focus,
.btn-primary:active:hover,
.btn-primary:focus,
.btn-primary:hover {
    background-color: #253451;
    border-color: #253451;
    font-size: 16px;
    color:white;
}

/*
  Modification de la couleur du texte des lien dans le panier
  */

#cart a,
#cart a:focus,
#cart a:hover {
    color: #253451;
}

/*
  Modification de la couleur de fond des principaux blocs :
  - Le haut des modals
  - Les catégories dans la carte
  - Les restaurants dans la section d'un restaurant
  - Les titres des options
  */
.restaurant_selection .restaurants .active a,
.restaurant_selection .restaurants a:hover,
.restaurant_selection .restaurants a,
#zmodal .modal-header,
#cart #cart-toggle-btn .cart_nb_items,
.tag_list,
.tag_list a.nobg:hover .lab,
.tag_list .active a.nobg .lab,
#zmodal .part h4,
#zmodal .optionbox h4 {
    background-color: inherit;
    color: #253551;
}

/* 
Modifie juste la taille de police du nom du restaurant
*/
.restaurant_selection .restaurants .active a .a,
.restaurant_selection .restaurants .active a,
.restaurant_selection .restaurants a:hover,
.restaurant_selection .restaurants a {
    font-size: 16px;
    font-style: normal;
    color: #253551;
}
.tag_list .active a.nobg .lab, .tag_list a:hover.nobg .lab
{
    background-color: #253451;
    color:white;
}

.tag_list a, .items_list li .price {
    color:#253451;
}

/* 
Modifie juste la taille de police de l'adresse du restaurant
*/

.restaurant_selection .restaurants .active span,
.restaurant_selection .restaurants span:hover,
.restaurant_selection .restaurants span {
    font-size: 15px;
    font-style: normal;
    color: #253551;
}
